/*


*/
/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}
header {
    height: 100px;
	display: block;
}
#logo {
    float: left;
    margin-left: 0;
    margin-top: 30px;
	width: 300px;
    height: 100px;
    color:#2c3e50;
}
nav {
    display: none;
    background-color: #fff;
    margin-top: 100px;
    position: absolute;
    z-index: 10;
    float: right;
    width: 100%;
}
nav ul {
	display: inline-block;
	width: 100%;
}

nav li {
	display: block;
	padding: 10px;
	font-size: 80%;
    border-bottom: 2px solid #fff;

}
nav li:hover {
    border-bottom: 2px solid #000;
}
nav a {
	text-decoration: none;
    color:#000;
    font-weight: bold;
}
nav ul:nth-child(6) {
    display:none;
}

main {
    min-height: 500px;
    margin-top: 10px;
    display: block;
}

#menu {
  padding: 1em;
  background: #fff;
  display: block;
  width: 30px;
  height: 30px;
  float: right;
}
.show-menu {
  display: block;
  z-index: 99999;
}

section {
    display: block;
    width: 100%;
/* border here for design*/
}

.view-button {
    color: #fff;
    background-color:#2c3e50;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
}
.view-button:hover {
    background-color:#34495e;
}

footer {
	
	height: 500px;
	margin-top: 20px;
    background-image: url('../media/img/display/footerbg.jpeg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 125%;
    margin-left: 50%;
    transform: translate(-50%);
}
small {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 100%;
    font-size:large;
}

/* These styles are for the home page Default.aspx */

#hero {
    height: 500px;
    width: 100%;
    display: block;
    margin-left: 50%;
    transform: translate(-50%);
    background-image: url('../media/img/display/hero.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    z-index: 1;
}
#hero div{
    width: 350px;
    height: 300px;
    margin-left: 10%;
    padding-top: 50px;
    color: #fff;
}
#hero h1 {
    color:#fff;
    font-size:250%;
    
}
#hero h4 {
    text-align:justify;
}

#feature-title {
    display: flex;
    justify-content: center;
}
#featured-items {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -30px;
}
#featured-items article {
    height: 500px;
    width: 95%;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
#featured-items article img {
    margin-top: 30px;
    width: 300px;
    height: 300px;
}
#featured-items button {
    display: block;
    margin-left: 50%;
    transform: translate(-50%);
}
.featured {
    justify-content: center;
}
.featured p {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}
.featured:nth-child(3) {
    display:none;
}
.featured:nth-child(2) {
    display:none;
}

#offers {
    background-image: url('../media/img/display/hero2.jpeg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    margin-top: 20px;
}
#offers img {
    width: 100px;
}

.offer-box {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    margin: 100px 20px 20px 20px;
}
.offer-box:nth-child(2) {
    display:none;
}
.offer-box:nth-child(3) {
    display:none;
}
.offer-box:nth-child(4) {
    display:none;
}


#filter-bar h3 {
    display: flex;
    justify-content: center;
}
#filter-bar ul {
    justify-content: center;
}
#filter-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#filter-list li {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}
#filter-list li select {
    width: 200px;
}


#AllProducts {
    height: 2000px;
}
#AllProducts table {
    width: 100%;
    height: 800px;
}
#AllProducts table td {
    width: 25%;
    height: 380px;
}
#AllProducts table td div {
    width: 100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    height: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#AllProducts table td img {
    width: 250px;
    margin: auto;
    
}
#AllProducts table td button {
    width: 100px;
    margin: auto;
    color: #fff;
    background-color:#2c3e50;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
}






































/* Tablet View */
@media screen and (min-width: 480px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
    nav {
        background-color: white;
        width: 650px;
        margin-top: 100px;
    }
    nav li {
        display: inline-block;
    }
    nav li:nth-child(6) {
    background-color:#1abc9c;
    border-radius:15%;
    border-bottom: none;
    margin-left: 10px;
    }
    nav li:hover:nth-child(6) {
        background-color:#2ecc71;
    }

    main {
        margin-top: 70px;
    }
    .offer-box {
        width: 50%;
    }
    .offer-box:nth-child(2) {
        display: flex;
    }
}   

/* Desktop View */
@media screen and (min-width: 1260px) {
    nav {
		float: right;
        display: flex;
        width: 650px;
        position:static;
        margin-top: 20px;
	}
    #menu {
        display: none;
    }
    main {
        margin-top: 10px;
    }

    #featured-items {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    #featured-items article {
        height: 100%;
    }
    .featured:nth-child(2) {
        display: block;
    }
    .featured:nth-child(3) {
        display: block;
    }
    .offer-box {
        width: 33.33%;
    }
    .offer-box:nth-child(2) {
        display: flex;
    }
    .offer-box:nth-child(3) {
        display: flex;
    }
    .offer-box:nth-child(4) {
        display: flex;
    }
}



